{% extends 'base.html.twig' %}

{% block title %}
 Détails du souhait | {{ parent() }}
{% endblock %}

{% block body %}
    <section class="ideaSection">
        <h2>{{ wish.title }}</h2>
        <div>
            <p>{{ wish.description }}</p>
            <h3>Ajouter par {{ wish.author }} le {{ wish.dateCreated|date('d-m-Y') }}</h3>
        </div>
    </section>

{% endblock %}

